
html {
    box-sizing: 'border-box';
    margin-left: auto;
    margin-right: auto;
}

#parent-input {
    width: 160px;
    text-align:right;
}
#main{
    display: inline-block
}

.center {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
ul {
    list-style: none;
    padding: 0;
}
img {
    display: inline;
    width: 200px;
    height: 100px;
}
#footer {
    width: 100%;
    border-top: solid 2px red;
    background-color: white;
    position: fixed;
    bottom: 0;
}
body {
    display:inline;
    text-align:center;
    background-image: url('ITCrowdBackground4.jpg');
}
#app {
    width:  60%;
    margin: 50px auto;
    background-color: rgba(256, 256, 256, 0.5);    
}
.guess {
    display: inline;
    font-size: 60px;
    border: 1px solid black;
    padding: 0 25px;
    border-radius: 10%
}
#player-input {
    border-radius: 25%;
    width: 75px;
    height: 75px;
    font-size: 60px;
    
}
#submit {
    border-radius: 50%;
    width: 60p;
    height: 60px;
    position: absolute;
    top: 110px;
    left: 110px;
}
#input-parent {
    width: 160px;
    margin: 1% auto 50px;
    position: relative;
}
/* .headers {
    text-color: white-space: nowrap;
} */







